<script src="scripts/home.js"></script>
<footer>
    <section class="footer-heading">
        <h1>A Chronicle of Events<span style="font-family: Playfair Display, serif;">,</span> A Testament to Truth.</h1>
    </section>
    <section class="footer-body">
        <h2>Join Us: Share Your Thoughts</h2>
        <div class="footer_left">
            <form action="">
                <label for="f_name">Name: </label>
                <input id="f_name"type="text">
            </form>
        </div>
    </section>

</footer>

</body>

</html>