<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles/header-styles.css">
    <link rel="stylesheet" href="styles/home.css">
    <!-- Content Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <!-- Headline Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
</head>

<body>
    <header class="page-header">
        <!-- top -->
        <div class="header-abt-day">
            <div class="date">
                <%= date %>
            </div>
            <div class="weather-forecast">
                Weather Stuff
            </div>
        </div>
        <!-- header hero -->
        <div class="header-main">
            <div class="header-main-support">
                <p class="header-support-cta">Support Our Work</p>
                <summary>Fearless, Independant and Reader-funded</summary>
                <button>Support Us <img src="assets/arrow-right-up.svg" style="width:20px" alt="arrow"></button>
            </div>
            <div class="header-logo">
                <img src="assets/logo.svg" alt="Diurnal Chronique">
            </div>
            <div class="header-signup">
                <div>
                    <img src="assets/git-profile.jpg" alt="profile pic">
                    <p>Sign Up for our newsletter</p>
                    <button class="header-signup-btn">Sign Up</button>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-nav">
        <div class="nav-collapse">
            <img src="assets/three-nav.svg" style="width:20px" alt="menu">
            <p>More Sections</p>
        </div>
        <div></div>
        <div class="nav-links">
            <a href="">Top Stories</a>
            <a href="">India</a>
            <a href="">World</a>
            <a href="">Tech</a>
            <a href="">Sports</a>
            <a href="">City-wise</a>
        </div>
        <div></div>
        <div class="nav-search">
            <label for="nav-search"><input type="text" placeholder="Search" id="nav-search"></label>
            <button type="submit"><img src="assets/search.svg" alt="search-icon"></button>
        </div>

    </nav>