<section class="sub-hero">
    <div class="sub-hero-main">
        <div class="shm-l">
            <img src="<%= heroData.heroMainData[5].Photo %>" alt="">
            <h2>
                <%= heroData.heroMainData[5].Headline %>
            </h2>
            <p>
                <%= heroData.heroMainData[5].Story %>
            </p>
        </div>
    </div>
    <div class="sub-hero-right">

    </div>
</section>