/* .read-more {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fffefa, #ebeae7);
    border-bottom: 2px solid #c5c5c5;
    padding: 1rem;
}

.read-more-btn {
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #f83403;
    color: rgb(252, 244, 229);
    font-weight: 700;
    cursor: pointer;
} */

.more-items {
    background-color: gray;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    row-gap: 2px;
    padding: 2px;
}

.more-items .aside-articles {
    max-height: 170px;
}

.more-items .aside-articles .article-img {
    max-height: 150px;
}