.passing-headlines {
    margin-top: 0.5rem;
    background-color: lightgrey;
    height: 2rem;
}

/* Hero */
.hero {
    margin: 1rem 0;
    max-height: 700px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr minmax(0, 8fr) 2fr;
    column-gap: 1rem;
}

/* Hero left */
.hero-sub {
    background-color: grey;
}

/* Hero middle */
.hero-main {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}

.hero-main-heading {
    margin: 0 0 0.5rem;
    padding: 0 0;
    box-sizing: border-box;
    border-top: 5px solid #f83403;
    border-bottom: 2px solid #c5c5c5;
}

.hero-main-heading h1 {
    margin: 0 0;
    padding: 0 0;
    font-weight: 600;
    font-size: 20px;
}

/* Hero middle left */
.hero-main-left {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 1px #c5c5c5;
    box-sizing: border-box;
    padding: 0 0 1rem;
}

.hero-main-left-img {
    box-sizing: border-box;
}

.hero-main-left-img img {
    width: 100%;
    object-fit: contain;
}

.hero-main-left-details {
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero-main-left-details p {
    color: #525252;
    font-size: 1em;
}

.byline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8em;
    color: grey;
}

.hero-main-left-details h2 {
    margin: 0;
    padding: 0;
}

/* Hero Middle Right */
.hero-main-right {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 0.2em;
}

.hero-main-right article {
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px #c5c5c5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    font-size: 12px;
}

.hero-main-right article img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.hero-main-right .article-details {
    box-sizing: border-box;
    padding: 0.5em 0 0;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-main-right article h2 {
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Hero Right */

.hero-aside {
    background-color: black;
}