.hero img {
    border: 5px solid black;
    box-sizing: border-box;
}

/* Hero */
.hero {
    margin: 1rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 8fr) 2fr;
    column-gap: 1rem;
}

/* Hero left */
.hero-left-wrapper {
    height: 100%;
    box-sizing: border-box;
}

.hero-left {
    background: gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



/* Hero middle */
.hero-main {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}

.hero-main-heading {
    font-family: serial;
    margin: 0 0 0.5rem;
    padding: 0 0;
    box-sizing: border-box;
    border-bottom: 5px solid black;
}

.hero-main-heading h1 {
    margin: 0 0;
    padding: 0 0;
    font-weight: 600;
    font-size: 40px;
}

/* Hero middle left */
.hero-main-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 1rem;
    border-bottom: 2px solid black;
}

.hero-main-left-img {
    box-sizing: border-box;
}

.hero-main-left-img img {
    width: 100%;
    object-fit: contain;
}

.hero-main-left-details {
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero-main-left-details h2 {
    font-family: serial;
    font-size: 3em;
}

.hero-main-left-details p {
    font-family: oldnewspaper;
    color: #525252;
    font-size: 1em;
}

.byline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8em;
    font-family: oldnewspaper;
    color: grey;
}

.hero-main-left-details h2 {
    margin: 0;
    padding: 0;
}

/* Hero Middle Right */
.hero-main-right {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 0.2em;
}

.hero-main-right article {
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    font-size: 12px;
    border-bottom: 2px solid black;
}

.hero-main-right article img {
    width: 40%;
    height: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.hero-main-right .article-details {
    box-sizing: border-box;
    padding: 0.5em 0 0;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-main-right article h2 {
    font-family: oldnewspaper, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Hero Right */

.hero-right {
    background-color: black;
}