body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 2rem;
    background-color: #fffefa;
    min-height: 100vh;
}

 
.header-abt-day {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 10px solid black;
    box-sizing: border-box;
    padding: 0.5rem 0;
}

.header-main {
    display: flex;
    padding: 0.3rem 0 0.5rem;
}

.header-logo {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 500;
    font-size: 80px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    margin: 0 auto;
}

.header-logo img {
    width: 400px;
}

.header-main-support {
    text-wrap: wrap;
    width: 1fr;
    justify-self: flex-start;
    align-self: flex-start;
}

.header-support-cta {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0;
}

.header-main-support summary {
    color: gray;
    font-size: 14px;
    margin-top: 0.2rem;
}

.header-main-support button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-radius: 50px;
    background-color: #fffefa;
    border: 1px solid gray;
    padding: 0.3rem 1rem;
}

.header-search {
    justify-self: flex-end;
    align-self: center;
}

.header-search img {
    width: 40px;
    margin: 0.5rem;
}

.header-search img:nth-of-type(2) {
    width: 50px;
    border-radius: 50%;
}

.main-nav {
    border-top: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-collapse {
    display: flex;
}

.nav-collapse p {
    margin-left: 1em;
}
.nav-signup-btn {
    border-radius: 50px;
    background-color: #f83403;
    border: 1px solid #f83403;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
}
nav a {
    color: black;
    text-decoration: none;
}
.headline h1{
    font-family: "Prata", serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}
.headline {
    border-bottom: 2px solid #c5c5c5;
}
.latest-main {
    margin: 1rem 0;
    width: 38%;
    padding-right: 2%;
    border-right: 3px solid #c5c5c5;
    padding-bottom: 2rem;
}
.latest-main img {
    width:100%;
}
.tag {
    display: inline-block;
    border-radius: 50px;
    background-color: #fffefa;
    border: 1px solid gray;
    padding: 0.3rem 1rem;
    font-size: 12px;
    background-color: whitesmoke;
}
.tagLines {
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
}
main aside {
    margin: 1rem 0;
    width: 60%;
    border-left: 3px solid #c5c5c5;
    padding-left: 2rem;
}
main aside article {
    height: 50%;
    padding: 1rem 0;
    box-sizing: border-box;
}
main aside article img{
    width: 30%;
    display: inline-block;
}
.article-details {
    margin-right: 2rem;
    display: inline;
}
