/* HERO SECTION */

.tag {
    display: inline-block;
    border-radius: 50px;
    background-color: #fffefa;
    border: 1px solid gray;
    padding: 0.3rem 0.7rem;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(243, 243, 243);
}

.tagLines {
    display: flex;
    justify-content: space-between;
}

.tags {
    margin-bottom: 0;
}

.hero {
    display: grid;
    max-height: 600px;
    width: 100%;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 2em;
    margin-top: 1rem;
}

.latest-main {
    grid-area: 1/1/4/1;
    box-sizing: border-box;
}

.latest-main img {
    width: 100%;
}

.aside-articles {
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 1em;
}

.aside-articles .article-img img {
    object-fit: cover;
    width: 100%;
}